.category {
  border: 1px solid rgb(156, 156, 156);
  padding: 2rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgb(235, 235, 235);
  transition: 0.2s;
  color: black;
  text-decoration: none;
}

.category:hover {
  background-color: rgb(223, 223, 223);
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin: 4rem 0rem;
}

// .forms {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }

// .signup {
//   background-color: rgb(255, 255, 255);
//   padding: 1rem;
//   border-radius: 10px;
//   gap: 0.5rem;
//   display: flex;
//   flex-direction: column;
// }

// .login {
//   padding: 1rem;
//   border-radius: 10px;
//   background-color: white;
//   flex-direction: column;
//   gap: 0.3rem;
//   display: flex;
// }

.show {
  display: flex;
  gap: 1rem;
  margin: 1rem 0rem;
}

.fa-trash-can {
  color: red;
  border: none;
  background-color: transparent;
  display: flex;

  &:hover {
    color: rgb(184, 0, 0);
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.categories-title {
  display: flex;
  margin: auto;
  justify-self: center;
}
